In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("heart-disease.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
len(df),len(df.columns)

(303, 14)

In [4]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

1. Train data 70-80% --->(features) all columns excluding the prediction column
2. Validation Data 10-15%
3. Test Data 10-15% --->(label) prediction column
for now only train and test data is used

In [5]:
X=df.drop("target", axis=1)
Y=df["target"]

In [ ]:
!pip install sklearn

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,size=0.2)

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
import sklearn.en

In [ ]:
df=pd.read_csv("car-sales-extended-missing-data.csv")

In [ ]:
df.head()

In [ ]:
len(df)

In [ ]:
df.isna().sum()

In [ ]:
df.dropna(axis=0,how="any",subset=["Price"],inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
mean_imputer=SimpleImputer(missing_values=np.nan,strategy='mean')

In [ ]:
cat_imputer=SimpleImputer(strategy="constant",fill_value="missing")
door_imputer=SimpleImputer(strategy="constant",fill_value=4)

In [ ]:
from sklearn.compose import ColumnTransformer